body{
    background: #f8f9fa;
}
.principal{
    margin-top: 50px;
    font-family: 'Roboto';
}

/* Tarjeta 1 */
.card-header-first{
    margin-top: -40px;
    height: 80px;
    background: linear-gradient(-90deg,#bf019f, #f28a57);
    box-shadow: 1px 5px 15px #a2a2a2;
}
/* Tarjeta 2 */
.card-header-second{
    margin: -40px -25px 0px -25px;
    height: 80px;
    background: linear-gradient(-90deg,#8e2de2, #4A00E0);
    box-shadow: 1px 7px 15px #a2a2a2;
}

/* Tarjeta 3 */

.card-header-third{
    margin-top: -40px;
    height: 80px;
    background: linear-gradient(-90deg,#11998e, #38ef7d);
    box-shadow: 1px 5px 15px #a2a2a2;
}

.card-section-third span i{
    padding: 17px;
    margin: 0px 10px;
    color: #fff;
    width: 50px;
    height: 50px;
    box-shadow: 1px 6px 24px #d2d2d2;
    background: linear-gradient(-90deg, #11998e, #38ef7d);
}

.card-header-third span i:hover, .card-section-third span i:hover{
    box-shadow: 1px 1px 15px #000;
}

/*Efecto shadow para todas las terjetas  */
.card-section{
    margin-top: 50px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .16),  0px 2px 10px 0px rgba(0, 0, 0, .12);
}
.card-section:hover{
    box-shadow: 1px 1px 20px #d2d2d2;
}

.space{
    margin-top: 10rem;
}
.success-stories {
    background-color: #A1D683;
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .success-stories .card {
    max-width: 370px;
    width: 100%;
    min-height: 600px;
    margin: 0 auto;
  }
  
  .success-stories .card img {
    max-height: 30vh;
    object-fit: cover;
  }
  .success-stories .card .card-body {
    max-width: 370px;
    width: 100%;
    position: relative;
    padding: 40px 1rem 1rem;
  }
  .success-stories .overview {
    flex: 2;
    padding-right: 100px;
  }
  .success-stories .overview h2 {
    font-family: "Alegreya", serif;
    font-size: 51px;
    line-height: 61px;
    color: #025157;
  }
  .success-stories .overview p {
    color: #343434;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 1rem;
  }
  .success-stories .overview button {
    font-size: 14px;
    padding: 12px 12px 6px 12px;
    border-radius: 8px;
    height: 45px;
    font-weight: 600;
    margin-left: 0;
  }
  .success-stories .overview img {
    width: 500px;
    max-width: 100%;
  }
  .success-stories .card .card-body h4 {
    color: #025157;
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 12px;
    font-family: "Slabo 27px", serif;
  }
  
  .success-stories .card .card-body h3 {
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
  }
  
  .success-stories .card .card-body .card-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .success-stories .card .card-body .card-text img {
    width: 26px;
    margin-right: 20px;
  }
  
  .success-stories .card .card-body .card-text p {
    margin: 0;
  }
  
  .success-stories .card .card-footer button {
    display: block;
    margin-left: 0;
    border-radius: 5px;
    font-size: 13;
    font-weight: 600;
    padding: 12px 20px;
    width: 100%;
    background-color: #025157;
    color: #fff;
    border: none;
  }
  
  .success-stories .card .card-footer {
    background-color: #ffffff;
    color: #fff;
    border: none;
  }
  
  /* Aqui hacemos un círculo con CSS! Este se posicionará en el margen superior de .card-body */
  .success-stories .card .card-body .card-circle {
    display: flex;
    align-items: center;
    position: absolute;
    top:-45px;
    right: 20px;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    padding: 5px;
  }
  
  /* Cada círculo tiene su propio color. Verifica qué significa este selector: .card-circle.everly */
  .success-stories .card .card-body .card-circle.everly {
    background-color: #f9da73;
    border: 5px solid #f9da73;
  }
  
  /* Los círculos deben recibir la imagen y ajustarla al tamaño */
  .success-stories .card .card-body .card-circle.everly img {
    object-fit: contain;
    width: 100%;
  }
  .success-stories .card .card-body .card-circle.everly {
    background-color: #f9da73;
    border: 5px solid #f9da73;
  }
  
  .success-stories .card .card-body .card-circle.summit {
    background-color: #81d742;
    border: 5px solid #81d742;
  }
  
  .success-stories .card .card-body .card-circle.mambe {
    background-color: #ef7179;
    border: 5px solid #ef7179;
  }
  
  .success-stories .card .card-body .card-circle.everly img,
  .success-stories .card .card-body .card-circle.summit img,
  .success-stories .card .card-body .card-circle.mambe img {
    object-fit: contain;
    width: 100%;
  }

  .texto-boton:hover{
    background-color: #67b54b;
  }
  
  @media (max-width: 991px) {
    .success-stories {
      flex-direction: column;
      padding: 5% 15px;
    }
  }
  
  @media (max-width: 575px) {
    .success-stories {
      flex-direction: column;
  }
