*{
    box-sizing: border-box;
}

.contenedor{
    display: flex;
    /*flex-direction: row;*/
    flex-wrap: wrap;
    /*flex-flow: row wrap;*/
    /*justify-content: center;*/
    height: 20em;
    /*align-items: center;*/
    background-color: goldenrod;
    font-size: 1rem;
    padding: 1em;
    border: 2px solid #000;
}

.contenedor div{
    font-size: 2rem;
    /*background-color: blueviolet;*/
    width: 2em;
    margin: .5em;
    text-align: center;
    line-height: 2em;
    border: 2px solid #000;
}

.hijo1{
    background-color: blue;
    flex-grow: 1;
}
.hijo2{
    background-color: red;
    flex-grow: 1;
}
.hijo3{
    background-color: green;
    flex-grow: 1;
}
    /*flex: grow shrink basis;*/

.vent{
    font-size: 4rem;
    color: yellow;
    height: 5em;
    width: 9em;
    background-color: darkolivegreen;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    /*display: flex;
    align-items: center;*/
}
