html{
  font-size: 70%;
}
body {
    background-color: #fffbf7;
}

h1 {
    color: #025157;
    font-size: 6rem;
    font-family: 'Lato', sans-serif;
}

p {
    color: #8b8b8bcc;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

button {
    color: #fff;
    background-color: #025157;
}
/*Header */
header{
        margin-top: 0;
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1rem;
        padding-left: 6em;
        padding-top: 0;
}
.header > * {
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    height: 100%;
    line-height: 4.5em;
  }
a strong{
    color: #025157;
    font-family: 'Hammersmith One', sans-serif;
    font-size: 3rem; 
    vertical-align: top;
}
#i{
    font-size: 4rem;
    vertical-align: middle;
}
#i a{
    text-decoration: none;
}
.logo{
    width: 15%;
}
.navbar{
    width: 60%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 1rem;
  }
  
  .actions > * {
    font-size: 1rem;
    margin-right: 1em;
    margin-left: 1em;
  }
  
  .actions a {
    color: #025157;
    text-decoration:none;
  }
  .actions a:hover {
      text-decoration: underline;
  }
  
  .actions button {
    color: white;
    background-color: #025157;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border: 0;
    border-radius: .5em;
  }
  .actions button:hover{
    background-color: #67b54b;
  }
/*Menu*/
ul{
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
   list-style: none;
   display: inline;
   padding-left: 3.5em;
}
ul li a{
   text-decoration: none;
   color: #025157;
}