*{
  margin: 0;
  padding: 0;
}
**{
  margin: 0;
  padding: 0;
}
html{
  font-size: 70%;
}
body {
  background-color: #fffbf7;
  font-family: "Open Sans", sans-serif;
}

h1 {
    color: #025157;
    font-size: 5.3rem;
    font-family: 'Alegreya', serif;
}
h2 {
  color: #025157;
  font-size: 3rem;
  font-family: 'Asul', sans-serif;
}
p {
    /* color: #8b8b8bcc;
    font-family: 'Roboto', sans-serif; */
    font-size: 1.6rem;
}
input {
  font-size: 1rem;
  border: 1px solid #b6b6b6;
  padding: .5em 2em;
  width: 60%;
  max-width: 15em;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  height: 3em;
}
button {
  font-size: 1.4rem;
  background-color: #025157;
  color: #fff;
  border: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 6px 20px;
  margin-left: -10px;
  height: 3em;
}
/* img{
  vertical-align: middle;
} */
/*Header */
.fixed-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fffbf7;
}
header{
        margin-top: 0;
        margin-left: 2em;
        margin-right: 2em;
        font-size: 1rem;
        padding-left: 0em;
        padding-top: 0;
        /*position: relative;*/
}
.header > * {
    /* background-color: white; */
    display: inline-block;
    font-size: 1.5rem;
    vertical-align: middle;
    height: 100%;
    line-height: 4.5em;
  }
a strong{
    color: #025157;
    font-family: 'Lato', sans-serif;
    font-size: 2rem; 
    /* vertical-align: top; */
}
#i{
    font-size: 0rem;
    vertical-align: middle;
    /* border: 1px solid red; */
}
#i a{
    text-decoration: none;
}
.logo{
    font-size: 1rem;
    padding-top: 1em;
    width: 15%;
}
.navbar{
    width: 65%;
    text-align: center;
    color: #025157;
    font-weight: 500;
}
.actions{
    width: 15%;
    text-align: right;
    font-size: 1rem;
    font-weight: 600;
}
  
  .actions > * {
    font-size: 1rem;
    margin-right: 1em;
    margin-left: 1em;
  }
  
  .actions a {
    color: #025157;
    text-decoration:none;
  }
  .actions a:hover {
      text-decoration: underline;
  }
  
  .actions button {
    color: white;
    background-color: #67b54b;
    padding-left: 1.4em;
    padding-right: 1.4em;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    border: 0;
    border-radius: .5em;
  }
  .actions button:hover{
    background-color: #025157;
  }
/*Menu*/
ul{
    font-family: Arial, Helvetica, sans-serif;
}
ul li{
   list-style: none;
   display: inline;
   padding-left: 3.5em;
}
ul li a{
   text-decoration: none;
   color: #025157;
}


.row{
  width: 80%;
  margin: auto;
  font-size: 1rem;
  margin-top: 10em;
  display: flex;
}
.row p{
  color: black;
}
.space{
  /* font-size: 1rem; */
  margin-top: 5em;
  text-align: center;
  margin-bottom: 0.4em;
}
section p{
  text-align: center;
}
section form{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}
.extra{
  color: #666;
}
.features{
  font-size: 2rem;
  margin-top: 3em;
  padding: 2.5em 0;
  display: grid;
  background-color: #025157;
  width: 100%;
  grid-template-areas: 
  "uno dos"
  "tres cuatro";
  height: 30em;
  grid-template-columns: repeat(2, 500px);
  grid-column-gap: 1.5em;
  grid-row-gap: 1.5em;
  justify-content: center;
}
.box{
  font-size: 1rem;
  background-color: white;
  border-radius: 10px;  
  margin: 1em;
  line-height: 2em;
  border: 2px solid #000;
  padding: 1em 1em 1em 1em;
}
figure p{
  text-align: left;
  color: #000;
  margin: 1em 0em;
}
figure a{
  color: #2fa603;
  text-decoration: none;
  font-size: 1.5rem;
}
section div{
  display: flex;
  flex-direction: row;
}
h3{
  font-size: 2rem;
}
.uno{
  grid-area: uno;
}
.dos{
  grid-area: dos;
}
.tres{
  grid-area: tres;
}
.cuatro{
  grid-area: cuatro;
}
figure{
  align-items: left;
  /* border: solid 1px #f00; */
}
.big{
  height: 80%;
  width: 80%;
}
.ecom{
  background-color: #a1d683;
  height: 80vh;
  display: grid;
  height: 40em;
  grid-template-columns: 50% 25%;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "b1 b2"
  "b3 b2";
  /* align-items: center;
  justify-items: center; */
}
.ecom h2{
  color: #025157;
  font-size: 4rem;
  font-family: 'Alegreya', serif;
}
.b1{
  grid-area: b1;
  display: flex;
  flex-direction: column;
  margin: 2em;
}
.b2{
  grid-area: b2;
  display: flex;
  flex-direction: column;  
  background-color: #fff;
  margin: 2em;
  border-radius: 10px;
}
.b3{
  grid-area: b3;
  display: flex;
  flex-direction: column;
  margin: 2em;
}
section button{
  border-radius: 10px;
  background-color: #025157;
  color: #FFF;
}